//===== PC版 =====
.profile {
  background-color: $menubgColor;
  position: relative;
  > div {
    @extend %block;
    padding: 100px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    > figcaption {
      box-sizing: border-box;
      flex: 0 0 50%;
      margin-left: 100px;
      .name {
        margin-bottom: 10px;
        .CH {
          @include adjust-font-size-to(nth($font-list, 6), 4); //36px
        }
        .EN {
          @include adjust-font-size-to(nth($font-list, 4), 3.5); //24px
        }
      }
      .info {
        p {
          @include adjust-font-size-to(nth($font-list, 3), 2.5); //16px
          color: #444444;
          & + p {
            margin-top: 5px;
          }
          span {
            @include adjust-font-size-to(nth($font-list, 3), 2.5); //16px
            color: #444444;
            &:before {
              content: '/';
              display: inline-block;
              padding: 0 5px;
            }
          }
        }
      }
    }
    > figure {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 5px solid $menuColor;
      background-image: url('../images/ZiRong.jpg');
      background-size: cover;
      background-position: center;
    }
  }
}

.schedules {
  padding: 30px 10px 30px;
  @extend %block;
  > h3 {
    @include adjust-font-size-to(nth($font-list, 5), 3); //28px
    padding-left: 10px;
    border-left: 5px solid $menuColor;
    margin-bottom: 20px;
  }

  .school {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    &:nth-of-type(odd) {
      flex-direction: row-reverse;
      > .justCard {
        transform: translateX(20px);
      }
    }

    &:nth-of-type(even) {
      > .justCard {
        transform: translateX(-20px);
      }
    }

    > .justImg_PC {
      flex: 0 0 50%;
      img {
        display: block;
        width: 100%;
      }
    }

    > .justCard {
      flex: 0 0 50%;
      padding: 50px;
      box-sizing: border-box;
      background-color: $menubgColor;
      position: relative;
      z-index: 1;
      .justName {
        margin-bottom: 20px;
        h4 {
          @include adjust-font-size-to(nth($font-list, 4), 3); //24px
          color: $menuColor;
          span {
            @include adjust-font-size-to(nth($font-list, 4), 3); //24px
            color: $menuColor;
            // &:before {
            //   content: '-';
            //   display: inline-block;
            //   padding: 0 5px;
            // }
          }
        }
        p {
          @include adjust-font-size-to(nth($font-list, 2), 2); //14px
          color: $picbgColor;
        }
      }

      p {
        @include adjust-font-size-to(nth($font-list, 3), 2.5); //16px
        &.txt-red {
          color: red;
        }
      }

      .jobList {
        margin-bottom: 20px;
        li {
          @include adjust-font-size-to(nth($font-list, 3), 2.5); //16px
          &:before {
            content: '-';
            display: inline-block;
            padding: 0 5px;
          }
        }
      }

      .link {
        @include adjust-font-size-to(nth($font-list, 3), 2.5);
        text-decoration: none;
        padding: 5px 10px;
        background-color: $menuColor;
        color: $lightColor;
        border-radius: 3px;
        float: right;
      }
    }
  }
}

//===== RWD變版 =====
@include breakpoint(max-width 720px) {
  .profile {
    > div {
      padding: 50px 10px;
      justify-content: center;
      flex-direction: column;
      > figcaption {
        flex: 0 0 100%;
        margin-left: 0px;
        .name {
          .CH {
            @include adjust-font-size-to(nth($font-list, 5), 3.5); //36px
            text-align: center;
          }
          .EN {
            @include adjust-font-size-to(nth($font-list, 3), 3); //24px
            text-align: center;
          }
        }
        .info {
          p {
            @include adjust-font-size-to(nth($font-list, 2), 2); //16px
            span {
              @include adjust-font-size-to(nth($font-list, 2), 2); //16px
            }
          }
        }
      }
      > figure {
        margin-bottom: 20px;
        width: 150px;
        height: 150px;
      }
    }
  }

  .schedules {
    .school {
      margin-bottom: 10px;
      flex-wrap: wrap;
      &:nth-of-type(odd) {
        flex-direction: row;
        > .justCard {
          transform: none;
        }
      }

      &:nth-of-type(even) {
        > .justCard {
          transform: none;
        }
      }

      > .justImg_PC {
        flex: 0 0 100%;
      }

      > .justCard {
        flex: 0 0 100%;
        padding: 20px;
        .link {
          right: 20px;
          bottom: 20px;
        }
      }
    }
  }
}
