$font-list: 12px 14px 16px 24px 28px 36px;
$base-font-size: nth($font-list, 2);
$base-line-height: 10px;
$rhythm-unit: 'px';
$mainWidth: 960px;
$darkColor: #000;
$lightColor: #FFF;
$menuColor: #2a979c;
$menubgColor: #f3f8fb;
$picbgColor: #4a4a4a;
$grayColor: #d8d8d8;
// $susy: ( columns:24, math:fluid, gutters:1/3, gutter-position:split);
// $gutter: 10px;
$susy: ( columns:24, math:fluid, gutters:1, gutter-position:split);
$gutter:20px;
// sprites 1
// $icon-layout: vertical; //vertical, horizontal, diagonal, smart
// $icon-spacing: 10px;
// @import "icon/*.png";
// @include all-icon-sprites(true);
// 用法如下
// @include icon-sprite(imageName, true); 圖片名稱, 是否要給寬高
// sprites 2
// $map: sprite-map("../images/icon/*.png"); // define a sprite map
// 用法如下: call 自己的mixin
// @include get-sprite($map, imageName); 圖片路徑, 圖片名稱
